<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Ordered lists</title>
</head>
<body>

	<section id="rarchy">
		<header>
			<h1>Ordered lists</h1>
			<input id="new-hierarchized-list" placeholder="Name of the list"
				autofocus="autofocus" />
		</header>
		<section id="main">
			<ul id="hierarchized-lists"></ul>
			<section id="hierarchized-list"></section>
		</section>
		<footer id="footer"></footer>
	</section>

	<script type="text/template" id="hierarchized-list-navigation-template">
		<a href="#/<%= id %>"><%= title %> ()</a>
		<span class="destroy">X</span>
	</script>

	<script type="text/template" id="hierarchized-list-template">
		<h2>
			<%= title %>
		</h2>
		<input id="new-hierarchized-list-item" placeholder="Name of the item" />
		<div id="choose"></div>
		<ul id="hierarchized-list-items">
		</ul>
	</script>
	
	<script type="text/template" id="hierarchized-list-item-template">
		<li><%= name %> <span class="destroy">X<span></li>
	</script>
	
	<script type="text/template" id="choose-item-template">
		<form>
			<fieldset>
				<p>Choose which shoud go first</p>
				<input type="button" class="one" value="<%= choose[0] %>" />
				<input type="button" class="two" value="<%= choose[1] %>" /> 
			</fieldset>
		</form>
	</script>

	<script src="js/lib/jquery/dist/jquery.min.js"></script>
	<script src="js/lib/underscore/underscore-min.js"></script>
	<script src="js/lib/backbone/backbone.js"></script>
	<script src="js/lib/backbone.localStorage/backbone.localStorage-min.js"></script>

	<script src="js/models/hierarchized-list-item.js"></script>
	<script src="js/models/hierarchized-list.js"></script>
	
	<script src="js/collections/hierarchized-list-collection.js"></script>

	<script src="js/routers/router.js"></script>

	<script src="js/views/app-view.js"></script>
	<script src="js/views/hierarchized-list-navigation-view.js"></script>
	<script src="js/views/choose-item-view.js"></script>
	<script src="js/views/hierarchized-list-item-view.js"></script>
	<script src="js/views/hierarchized-list-view.js"></script>

	<script src="js/utils/logger.js"></script>

	<script src="js/init.js"></script>
	<script src="js/app.bundle.js"></script>
</body>
</html>